h1 {
    /* color: rgb(158, 31, 200); */
    /* color: #ffffff; */
    /* color: #000000;
    background-color: blueviolet; */
    color: white;
}

body {
    /* background-color: rgb(227, 227, 227); */

    background-image: linear-gradient(to right, black , white);
    height: 100vh;
}