.table1 {
    background-color: black;
    color: white;
}

.table2{
    background-color: #808080;
    color: white;
}

.table3{
    background-color: #c0c0c0;
}

.nav{
    background-color: navy;
    color: white;
}

